body 
{
	color: black; 
	font-family: Verdana, Arial, sans-serif; 
} 

html, body, .container 
{
    height: 100%;
}

.container 
{
    display: table;
    vertical-align: middle;
}

.vertical-center-row 
{
    display: table-cell;
    vertical-align: middle;
}

.block 
{
	display: block
}

textarea 
{
    resize: none;
}

/*Core i think*/
.drag 
{
	border: 1px solid black; 
/*
	background-color: rgb(255, 255, 255); 
*/
	position: relative; 
	padding: 0.5em; 
	margin: 0 0 0.5em 1.5em; 
	cursor: move;
}

.btn-white 
{ 
	background-color: hsl(360, 100%, 100%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)); 
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff); 
	background-image: -ms-linear-gradient(top, #ffffff, #ffffff); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff)); 
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff); 
	background-image: -o-linear-gradient(top, #ffffff, #ffffff); 
	background-image: linear-gradient(#ffffff, #ffffff); 
	border-color: #0a0000 #0a0000 hsl(360, 100%, -13%);
	border-width: 5px;
	color: #333 !important; 
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
	-webkit-font-smoothing: antialiased; 
}


