body 
{
	color: black; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: smaller;
} 

.block 
{
	display: block
}

/*Core i think*/
.drag 
{
	border: 1px solid black; 
	background-color: rgb(240, 240, 240); 
	position: relative; 
	padding: 0.5em; 
	margin: 0 0 0.5em 1.5em; 
	cursor: move;
}
